body {
    background-color: white;
    margin: 10px;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 1400px;
}

@media only screen and (max-width: 500px) {
    body{
        overflow: hidden;
        background: url(img/phone.png);
        background-repeat: no-repeat;
        background-size: 300px;
        background-position: center 20px;
    }
    #full{
        display: none;
    }
    #mobile{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        display: flex;
        justify-content: center;
        margin-top: 30%;
        line-height: 39px;
        padding: 20px;
    }
}

@media only screen and (min-width: 500px){
    #mobile{
        visibility: hidden;
    }
}

#full {
    position: absolute;
    top: 73%;
    left: 43.8%;
    transform: translate(-50%, -50%);
}

#screen {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    align-items: flex-start;
    justify-items: self-end;  
}

/* marquee of bottom */
.info p{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    width: 100%;
    bottom: 0;
    font-size: 23px;
    background-color: white;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.moving span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 50s linear infinite;
}

@keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}

/* Button */
button {
    position: absolute;
    z-index: 100;
    width: 35px;
    height: 17px;
    font-size: 11px;
    padding: 0;
    width: auto;
}

.p1 button {
    top: 495px;
    left: 132px;
}

.p2 button {
    top: 161px;
    left: 321px;
    opacity: 0;
}

.p31 button {
    top: 277px;
    left: 481px;
    opacity: 0;
}

.p32 button {
    top: 419px;
    left: 447px;
    opacity: 0;
}

.p41 button {
    top: 158px;
    left: 768px;
    opacity: 0;
}

.p42 button {
    top: 271px;
    left: 668px;
    opacity: 0;
}

.p43 button {
    top: 283px;
    left: 84px;
    opacity: 0;
}

.p5 button {
    top: 135px;
    left: 1020px;
    opacity: 0;
}

.p6 button {
    top: 257px;
    left: 1177px;
    opacity: 0;
}

.p71 button {
    top: 132px;
    left: 1340px;
    opacity: 0;
}

.p72 button {
    top: 590px;
    left: 1357px;
    opacity: 0;
}

.p8 button {
    top: 142px;
    left: 113px;
    opacity: 0;
}

.p9 button {
    top: 153px;
    left: 55px;
    opacity: 0;
}

.p10 button {
    top: 143px;
    left: 147px;
    opacity: 0;
}

.p11 button {
    top: 185px;
    left: 58px;
    opacity: 0;
}

.p12 button {
    top: 161px;
    left: 185px;
    opacity: 0;
}

.p13 button {
    top: 160px;
    left: 63px;
    opacity: 0;
}

/*
.p14 button {
    top: 228px;
    left: 50px;
    opacity: 0;
}
*/

.p15 button {
    top: 113px;
    left: 28px;
    opacity: 0;
}

.p16 button {
    top: 265px;
    left: 81px;
    opacity: 0;
}

.p17 button {
    top: 133px;
    left: 56px;
    opacity: 0;
}

.p18 button {
    top: 90px;
    left: 81px;
    opacity: 0;
}

.p19 button {
    top: 77px;
    left: 33px;
    opacity: 0;
}

/* Phone Position */
.p43 {
    position: absolute;
    top: 210px;
    left: 767px;
}

.p8 {
    position: absolute;
    top: 575px;
    left: 10px;
}

.p9 {
    position: absolute;
    top: 530px;
    left: 280px
}

.p10 {
    position: absolute;
    top: 600px;
    left: 425px
}

.p11 {
    position: absolute;
    top: 580px;
    left: 800px
}

.p12 {
    position: absolute;
    top: 700px;
    left: 960px
}

.p13 {
    position: absolute;
    top: 410px;
    left: 980px
}

.p14 {
    position: absolute;
    top: 435px;
    left: 1150px;
}

.p15 {
    position: absolute;
    left: 1435px;
}

.p16 {
    position: absolute;
    top: 345px;
    left: 1475px;
}

.p17 {
    position: absolute;
    top: 10px;
    left: 1525px;
}

.p18 {
    position: absolute;
    top: 470px;
    left: 425px;
}

.p19 {
    position: absolute;
    top: 697px;
    left: 1370px;
}

/* Img position */
.animal {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    padding: 0;
    top: 325px;
    transform:scale(4.3);
    clip: rect(67px,75px,183px,15px);
}

.animal2 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 160px;
    top: -35px;
    transform:scale(3);
    clip: rect(140px,75px,240px,15px);
    opacity: 0;
}

.animal3 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 1127px;
    top: 485px;
    transform: scale(3);
    clip: rect(0px, 118px, 51px, 65px);
    opacity: 0;
}

.animal4 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: -133px;
    top: 302px;
    transform:scale(3);
    clip: rect(29px, 160px, 77px, 114px);
    opacity: 0;
}

.animal5 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 136px;
    top: 500px;
    transform:scale(5);
    clip: rect(45px, 78px, 80px, 55px);
    opacity: 0;
}

.animal6 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 302px;
    top: 136px;
    transform:scale(4);
    clip: rect(113px, 145px, 181px, 102px);
    opacity: 0;
}

.animal7 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 10px;
    top: 90px;
    transform:scale(2);
    clip: rect(135px, 125px, 205px, 53px);
    opacity: 0;
}

.animal8 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 20px;
    top: 603px;
    transform:scale(6.5);
    clip: rect(64px, 118px, 83px, 85px);
    opacity: 0;
}

.animal9 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 96px;
    top: -224px;
    transform:scale(2);
    clip: rect(206px, 178px, 295px, 10px);
    opacity: 0;
}

.animal10 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 295px;
    top: -296px;
    transform:scale(2);
    clip: rect(270px,99px,350px,47px);
    opacity: 0;
}

.animal11 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 96px;
    top: -320px;
    transform:scale(3.9);
    clip: rect(217px,118px,256px,65px);
    opacity: 0;
}

.animal12 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: -73px;
    top: -25px;
    transform:scale(1);
    clip: rect(60px,155px,165px,77px);
    opacity: 0;
}

.animal13 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 328px;
    top: 230px;
    transform:scale(1);
    clip: rect(151px,191px,220px,98px);
    opacity: 0;
}

.animal14 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: -66px;
    top: -235px;
    transform:scale(1);
    clip: rect(280px,153px,331px,79px);
    opacity: 0;
}

.animal15 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 750px;
    top: 105px;
    transform:scale(3);
    clip: rect(86px,130px,145px,25px);
    opacity: 0;
}

.animal16 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 1329px;
    top: 576px;
    transform:scale(2);
    clip: rect(0px,114px,112px,38px);
    opacity: 0;
}

.animal17 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: -199px;
    top: 205px;
    transform:scale(2.8);
    clip: rect(51px,180px,97px,143px);
    opacity: 0;
}

.animal18 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 586px;
    top: 210px;
    transform:scale(1);
    clip: rect(9px,150px,97px,55px);
    opacity: 0;
}

.animal19 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: -47px;
    top: -37px;
    transform:scale(1.5);
    clip: rect(115px,155px,223px,67px);
    opacity: 0;
}

.animal20 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 1264px;
    top: -228px;
    transform:scale(1.2);
    clip: rect(290px,140px,353px,53px);
    opacity: 0;
}

.animal21 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: -53px;
    top: -128px;
    transform:scale(2.7);
    clip: rect(160px,147px,200px,90px);
    opacity: 0;
}

.animal22 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 350px;
    left: 950px;
    top: 10px;
    transform:scale(0.7);
    clip: rect(1px,155px,146px,18px);
    opacity: 0;
}

.animalFinal  {
    position: absolute;
    z-index: -1;
    width: 110px;
    height: 200px;
    left: 10px;
    top: 35px;
    opacity: 0;
}